.pages #content-area .wrapper {
  width: 700px;
  padding: 50px;
  margin-top: 30px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.pages #content-area .wrapper section {
  margin-bottom: 50px;
}

.pages #content-area .wrapper section:last-of-type {
  margin-bottom: 0;
}

.pages #content-area .wrapper h3 {
  font: normal 2.4rem "Open Sans Light";
  color: #333333;
  line-height: 1;
  margin-bottom: 15px;
}

.pages #content-area .wrapper p {
  font: normal 1.5rem "Open Sans";
  color: #444444;
}
