@import "mixins";

.profile {
  #content-area .wrapper {
    width: 700px;
  }

  #user-profile {
    padding: 25px;
    background-color: #ffffff;
    margin-top: 30px;

    .profile-picture {
      float: left;
      width: 100px;
      height: 100px;
      border-radius: 5px;
    }

    .details {
      float: right;
      width: 525px;

      h1 {
        font: normal 2.8rem "Open Sans Light";
        color: #222222;
      }

      p, h6 {
        font: normal 1.4rem "Open Sans";
        color: #555555;
        line-height: 1;
        background-color: #E3E8EB;
        padding: 15px;
        position: relative;
        margin-top: 10px;
      }

      p:before {
        content: "";
        position: absolute;
        top: -9px;
        left: 15px;
        border-bottom: 10px solid #E3E8EB;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      h6 a {
        font: inherit;
        color: #973C0D;

        &:hover, &:focus {
          color: #C84F11;
        }
      }
    }
  }

  #user-connections {
    background-color: #333333;
    padding: 5px 25px;
    font-size: 0;

    label {
      display: inline-block;
      vertical-align: top;
      width: 125px;
      font: normal 1.3rem "Open Sans Light";
      color: #aaaaaa;
      text-transform: uppercase;
      margin-top: 5px;
    }

    a#add-connections {
      font-size: 1.3rem;
      color: #77B2D2;
      line-height: 2.8rem;

      &:hover, &:focus {
        color: #97C4DD;
      }
    }

    ul {
      display: inline-block;
      width: 500px;
    }

    li {
      margin: 0;
    }

    .link {
      width: auto;
      height: auto;
      color: #aaaaaa;
      text-indent: 0;
      overflow: visible;
      padding: 3px 7px 3px 25px;
      border-radius: 3px;
      background-position: 3px center;
      background-size: auto 80%;
      background-color: #333333;
      margin: 2px 4px 2px 0;

      &:hover, &:focus {
        color: #cccccc;
        background-color: #222222;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
      }
    }
  }

  #user-activities {
    background-color: #f5f5f5;
    padding: 20px;

    section {
      margin-bottom: 25px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    h4 {
      font: bold 1.2rem "Open Sans";
      color: #555555;
      line-height: 1;
      text-transform: uppercase;
      padding: 0 5px;
      margin-bottom: 10px;
    }

    h5 {
      margin: 0 5px;
      font: normal 1.3rem "Open Sans";
      color: #555555;
      padding: 10px;
      background-color: #E1EAEE;
    }

    .activity {
      float: left;
      width: 320px;
      padding: 15px;
      margin: 5px;
      background-color: #ffffff;
      .box-sizing(border-box);

      a {
        display: block;
        height: 45px;
        font: normal 1.6rem "Open Sans";
        overflow: hidden;
      }

      footer {
        margin-top: 7px;

        time {
          display: inline-block;
          font: normal 1.3rem "Open Sans";
          color: #777777;
        }

        ul {
          float: right;
          margin-top: 2px;

          li {
            display: inline-block;
            margin-left: 7px;
          }

          a {
            height: auto;
            font: normal 1.1rem "Open Sans";
            color: #777777;
            text-transform: uppercase;

            &:hover, &:focus {
              color: #973C0D;
            }
          }
        }
      }
    }
  }
}

.profile.edit {
  input {
    &[type="text"], &[type="email"], &[type="password"] {
      width: 207px;
      border: none;
      padding: 8px;
      background-color: #eaeaea;

      &:focus {
        background-color: #e7e7e7;
        box-shadow: inset 0 1px 1px rgba(50, 50, 50, 0.15);
      }
    }
  }

  h6 {
    font: bold 1.3rem "Open Sans";
    color: #333333;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 15px;
  }

  #user-profile {
    #profile-picture-wrapper {
      float: left;
      width: 100px;
      height: 100px;
      position: relative;

      #new-profile-picture {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;
        background-size: cover;
        background-position: center center;
      }

      input[type="file"] {
        position: absolute;
        left: -300px;
      }

      p {
        position: absolute;
        top: 103px;
        left: 50%;
        margin-left: -32px;
        font: bold 1.1rem "Open Sans";
        color: #555555;
        text-align: center;
        text-transform: uppercase;
        background-color: #E1EAEE;
        padding: 3px 7px;
        border-radius: 3px;
        width: 50px;
        cursor: pointer;

        &:hover {
          background-color: #C5D6DE;
          color: #333333;
        }

        &#cancel-profile-picture {
          display: none;
        }
      }
    }

    input[type="text"] {
      width: 150px;
      font: bold 1.5rem "Open Sans Light";
      color: #333333;
      padding: 7px 10px;
      margin-right: 5px;
    }

    textarea {
      width: 495px;
      height: 100px;
      font: normal 1.4rem "Open Sans";
      color: #555555;
      line-height: 1;
      padding: 15px;
      margin-top: 8px;
      background-color: #eaeaea;
      border: none;

      &:focus {
        background-color: #e7e7e7;
        box-shadow: inset 0 1px 1px rgba(50, 50, 50, 0.15);
      }
    }
  }

  #login-settings {
    background-color: #ffffff;
    padding: 25px 25px 25px 150px;

    label {
      display: inline-block;
      width: 122px;
      font: normal 1.3rem "Open Sans";
      color: #555555;
    }

    span {
      display: block;
      font: italic normal 1.2rem "Open Sans";
      color: #777777;
    }
  }

  #social-connections {
    padding: 25px 25px 20px 150px;
    background-color: #ffffff;
    font-size: 0;

    .link {
      display: inline-block;
      width: 200px;
      background: #eaeaea 3px center no-repeat;
      background-size: auto 80%;
      padding-left: 33px;
      position: relative;
      margin: 0 5px 5px 0;

      &:focus {
        background-color: #e7e7e7;
      }

      &#facebook { background-image: url("../images/facebook-icon.png"); }
      &#twitter { background-image: url("../images/twitter-icon.png"); }
      &#google-plus { background-image: url("../images/gplus-icon.png"); }
      &#tumblr { background-image: url("../images/tumblr-icon.png"); }
      &#pinterest { background-image: url("../images/pinterest-icon.png"); }
      &#linkedin { background-image: url("../images/linkedin-icon.png"); }
      &#flickr { background-image: url("../images/flickr-icon.png"); }
    }
  }

  .actions {
    background-color: #333333;
    padding: 5px 25px;

    input[type="submit"] {
      font: normal 1.3rem "Open Sans";
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      background-color: #415469;
      padding: 6px 15px;
      margin-left: 125px;
      border: none;
      cursor: pointer;

      &:hover, &:focus {
        background-color: #496787;
      }
    }
  }
}